body {
	font-family: "Open Sans", "Verdana", sans-serif;
}

p {
	max-width: 40em;
}

a {
	color: #20898d;
	text-decoration: none;
}

section ul {
	list-style-type: circle;
}

footer {
	margin-top: 2em;
	font-size: small;
	color: silver;
}

.filelink img {
	vertical-align: text-bottom;
	width: 24px;
	height: 24px;
}

.panel {
	margin-bottom: 0.5em;
	font-size: small;
}

.tooltip {
	border-bottom: 1px dotted black;
	cursor: help;
}

.semanticheading {
	display: none;
}

/* Font sample styles */

.sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: Evolventa;
	//background-color: lightskyblue;
	//background-color: #20898d;
	background-color: #31d0d6;
	background-color: #2BBDC1;
	padding: 0.5em 0.5em;
	margin: 0;
}
.fontsampleblock {
	font-family: Evolventa;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-size: xx-large;
}
.fontsampleblock span {
	width: 1.2em;
	display: inline-block;
	text-align: center;
}
.fontsampleblock span.space {
	background-color: lightgray;
	white-space: pre;
	display: inline;
}
